<style>
    .form-group label .text-danger {
        font-size: 1.2em;
    }

    .page-item.active .page-link {
        color: #fff;
        background-color: #901F17;
        border-color: #901F17;
    }

    #createUserBtn:disabled {
        background-color: #cccccc;
        color: #999999;
        border: 1px solid #cccccc;
        cursor: not-allowed;
    }

        #createUserBtn:disabled:hover {
            background-color: #cccccc;
            color: #999999;
            border: 1px solid #cccccc;
        }

    .delete-icon:disabled {
        color: #cccccc;
        cursor: not-allowed;
    }

    .card .card-header h5:after {
        content: "";
        background-color: #901F17;
        position: absolute;
        left: -10px;
        top: -5px;
        width: 5px;
        height: 31px;
    }
</style>

<div class="pcoded-wrapper">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header row">
                                    <div class="col-md-6">
                                        <h5>Users</h5>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-primary md-trigger d-flex align-items-center" style="float:right" data-modal="modal-11">
                                            <i class="fas fa-plus mr-2"></i> Add New User
                                        </button>
                                    </div>
                                </div>
                                <div class="pc-component" style="position: absolute; top: 0; right: 22px;">
                                    <div class="bg-body" style="padding: 4px;">
                                        <div id="bootstrapToast" class="toast fade hide" style="width: 350px;" role="alert" aria-live="assertive" aria-atomic="true">
                                            <div class="toast-header">
                                                <img src="~/images/favicon.ico" class="img-fluid m-r-5" alt="images" style="width: 17px;" />
                                                <strong class="me-auto">Notification</strong>
                                                <small style="padding: 0px 151px 0px 6px;">Just now</small>
                                                <button type="button" class="btn-close btn-toaster-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </div>
                                            <div class="toast-body">
                                                <!-- Toast message will be updated dynamically -->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1055;">
                                    <div id="bootstrapToast" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
                                        <div class="d-flex">
                                            <div class="toast-body">
                                                <!-- Toast message will be updated dynamically -->
                                            </div>
                                            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-block">
                                    <div class="table-responsive">
                                        <table id="zero-configuration" class="display table nowrap table-striped table-hover" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th style="padding-left:25px !important">Action</th>
                                                    <th>Username</th>
                                                    <th>Email</th>
                                                    <th>Role</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Create Modal -->
<div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="createUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createUserModalLabel">Add New User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createUserForm">
                    <div class="form-group">
                        <label for="username">Full Name <span class="text-danger">*</span></label>
                        <input type="text" id="username" class="form-control" placeholder="Enter full name" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Email <span class="text-danger">*</span></label>
                        <input type="email" id="email" class="form-control" placeholder="Enter Email" required>
                    </div>

                    <div class="form-group">
                        <label for="password">Password <span class="text-danger">*</span></label>
                        <input type="password" id="password" class="form-control" placeholder="Enter Password" required>
                    </div>

                    <div class="form-group">
                        <label for="role">Role <span class="text-danger">*</span></label>
                        <select id="role" class="form-control" required>
                            <option value="" disabled selected>Select a role</option>
                            <option value="Admin">Admin</option>
                            <option value="Foreman">Foreman</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div id="progressBarContainer" style="display: none;">
                        <label for="progressBar">Please wait...</label>
                        <div class="progress">
                            <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%"></div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" id="createUserBtn" disabled>Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Alert Modal -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel" style="padding-left: 135px;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="width: 70%;">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserModalLabel">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this user?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmDeleteUserBtn">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $(document).ready(function () {
        let selectedUserId;
        $("#username, #password, #email, #role").on("input change", function () {
            checkFormValidity();
        });
        fetchUsers();

        $("#createUserBtn").on("click", function () {
            $("#createUserForm").submit();
        });

        $("#createUserForm").on("submit", function (e) {
            e.preventDefault();
            var userData = {
                userName: $("#username").val(),
                password: $("#password").val(),
                email: $("#email").val(),
                role: $("#role").val()
            };

            makeButtonProgress('#createUserBtn', 'Please wait...');
            $("#createUserModal .progress-bg").show();

            $.ajax({
                url: '/Users/CreateUser',
                method: 'POST',
                data: userData,
                success: function (response) {
                    $(".progress-bg").hide();
                    makeButtonOriginal('#createUserBtn', 'Save', 'fas fa-save');

                    if (response.success) {
                        showToast("User created successfully!", 'success');
                        $('#createUserModal').modal('hide');
                        $("#createUserForm")[0].reset();
                        $("#createUserBtn").prop("disabled", true);
                        fetchUsers();
                    } else {
                        showToast(`Error: ${response.message}`, 'danger');
                        $('#createUserModal').modal('hide');
                        $("#createUserForm")[0].reset();
                        $("#createUserBtn").prop("disabled", true);
                    }
                },
                error: function (xhr, status, error) {
                    $(".progress-bg").hide();
                    makeButtonOriginal('#createUserBtn', 'Save', 'fas fa-save');
                    showToast("An error occurred while creating the user.", 'danger');
                }
            });
        });

    });

    //Get User
    function fetchUsers() {
        const apiUrl = '/Users/GetUsers';
        $.ajax({
            url: apiUrl,
            method: 'GET',
            success: function (response) {
                if (response.success && Array.isArray(response.data)) {
                    const users = response.data;
                    $('#zero-configuration tbody').empty();                    
                    users.forEach(function (user) {
                        const row = `
                                 <tr data-userid="${user.userId}">
                                     <td><i class="fas fa-trash-alt delete-icon delete-user text-danger" style = "cursor: pointer; padding-left:25px" > </i></td >
                                     <td>${user.userName}</td>
                                     <td>${user.email}</td>
                                     <td>${user.role}</td>
                                 </tr>`;
                        $('#zero-configuration tbody').append(row);
                    });
                    $('#zero-configuration').DataTable();                  
                    setTimeout(function () {
                        $('.delete-user').on('click', function () {
                            selectedUserId = $(this).closest('tr').data('userid');
                            $('#deleteUserModal').modal('show');
                        });
                    }, 1000);
                } else {
                    console.error('Error: Invalid data structure or empty data');
                }
            },
            error: function (xhr, status, error) {
                console.log('AJAX error: ' + error);
            }
        });
    }

    //Create User
    $(".md-trigger").on("click", function () {
        $('#createUserModal').modal('show');
    });

    $(".md-close").on("click", function () {
        $('#createUserModal').modal('hide');
    });

    function checkFormValidity() {
        const username = $("#username").val().trim();
        const password = $("#password").val().trim();
        const email = $("#email").val().trim();
        const role = $("#role").val();

        const emailPattern = /^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

        if (username && password && email && role && emailPattern.test(email)) {
            $("#createUserBtn").prop("disabled", false);
        } else {
            $("#createUserBtn").prop("disabled", true);
        }

        if (!username || !password || !email || !role) {
            $(".delete-icon").prop("disabled", true);
        } else {
            $(".delete-icon").prop("disabled", false);
        }
    }
  

    //Delete User
    $('#confirmDeleteUserBtn').on('click', function () {     
        if (selectedUserId) {
            $.ajax({
                url: '/Users/DeleteUser',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ UserId: selectedUserId }),
                success: function (response) {
                    if (response.success) {
                        showToast("User deleted successfully!", 'success');
                        $(`tr[data-userid="${selectedUserId}"]`).remove();
                        $('#deleteUserModal').modal('hide');
                    } else {
                        showToast(`Error: ${response.message}`, 'danger');
                    }
                },
                error: function (xhr, status, error) {
                    showToast("An error occurred while deleting the user.", 'danger');
                    $('#deleteUserModal').modal('hide');
                }
            });
        }
    });


    //Toaster Notification
    function showToast(message, type = 'primary', delay = 3000) {
        const toast = $('#bootstrapToast');
        toast.removeClass('text-bg-primary text-bg-success text-bg-danger');
        toast.addClass(`text-bg-${type}`);
        toast.find('.toast-body').text(message);

        toast.attr('data-bs-delay', delay);
        const bootstrapToast = new bootstrap.Toast(toast[0], { autohide: true, delay: delay });
        bootstrapToast.show();
    }

</script>
